.content {
    display: flex;
}

.media {
    max-width: 500px;
    order: -1;
}

@media (max-width: 640px) {
    .content {
        flex-direction: column;
    }
}

@media (min-width: 641px) {
    .text {
        margin-left: 2vw;
        max-width: 50%;
    }
}